.navbar {

    display: flex;
    justify-content: space-around;
    background-color: blue;
    color: white;
}


.basket {
    position: relative;
}

.items-div {
    background-color: white;
    color: black;
    width: 20px;
    text-align: center;
    border-radius: 50%;
}

.basket-icon {
    position: absolute;
    bottom: 10px;
    right: 10px;
}